.page-inner {

  .content-wrapper {
    font-size: 14px;
    line-height: 1.6;
    padding: 20px 0 0;

    .container {
      padding: 0 15px;
    }

    @media (min-width: $bp-small) {
      font-size: 18px;
      padding: 70px 0 0;
    }

    .img.pull-right {
      float: none;

      img {
        max-width: 100%;
      }

      @media (min-width: $bp-small) {
        margin: 0 0 20px 30px;
        float: right;
      }

    }

    .list {
      padding: 0 0 0 10px;

      @media (min-width: $bp-small) {
        padding: 0 0 0 30px;
      }

      li {
        position: relative;
        padding-left: 16px;
        list-style: none;
        margin-bottom: 18px;

        &:before {
          @include pseudo-block($top: 8px, $left: 0);
          @include oneline-sprite-box($icons, arr-list);
        }
      }
    }

    .section-links {
      margin-top: 80px;
    }

    .img.pull-right + p {

      @media (min-width: $bp-middle) {
        overflow: hidden;
      }
    }

    h2 {
      margin: 60px 0 30px;
    }
  }
}