.container {
  max-width: 1142px;
  margin: 0 auto;
  @include clearfix();
}

.content-wrapper {
  position: relative;

  h1 {
    margin: 0 0 15px;
    font-size: 26px;
    text-shadow: 0 2px 7px rgba(0, 0, 0, 0.43);

    @media (min-width: $bp-small) {
      font-size: 42px;
      margin: 0 0 30px;
      text-shadow: none;
    }

    @media (min-width: $bp-middle) {
      font-size: 48px;
    }

    body:not(.front) & {
      color: #399bda;
      font-size: 26px;
      text-transform: uppercase;
      margin: 0 0 20px;
      text-shadow: none;

      @media (min-width: $bp-small) {
        font-size: 42px;
        margin: 0 0 50px;
      }

      @media (min-width: $bp-middle) {
        font-size: 48px;
        margin: 0 0 75px;
      }
    }
  }

  h2 {
    margin: 0;
    font-size: 20px;
    text-shadow: 0 2px 7px rgba(0, 0, 0, 0.43);

    @media (min-width: $bp-small) {
      font-size: 36px;
      text-shadow: none;

      br {
        display: block;
      }
    }

    br {
      display: none;

      @media (min-width: $bp-small) {
        display: block;
      }
    }

    body:not(.front) & {
      color: #399bda;
      font-size: 22px;
      margin: 0 0 15px;
      text-shadow: none;
      @include clear-box();

      @media (min-width: $bp-small) {
        font-size: 36px;
        margin: 0 0 30px;
      }
    }
  }

  .section-top {
    position: relative;
    min-height: 300px;

    .desc {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      text-align: center;
      color: #fff;
      z-index: 5;
      padding: 77px 10px;

      @media (min-width: $bp-small) {
        top: 200px;
        padding: 0;
      }
    }

    img {
      width: auto;
      position: relative;
      left: 50%;
      height: 385px;
      display: block;
      @include translateX(-50%);

      @media (min-width: $bp-small) {
        height: 580px;
      }

      @media (min-width: $bp-middle) {
        width: 100%;
        height: auto;
      }
    }
  }

  .section-items {
    background: image-url('bg/items.png') no-repeat center;
    @include background-size(contain);
    position: relative;

    @media (min-width: $bp-small) {
      margin-top: -100px;
    }

    .container {
      padding-bottom: 40px;

      @media (min-width: $bp-small) {
        padding-bottom: 100px;
        text-align: center;
      }

      @media (min-width: $bp-middle) {
        text-align: left;
      }
    }

    .item {
      max-width: 360px;
      display: block;
      vertical-align: top;
      margin: 0 auto 15px;
      text-align: left;

      @media (min-width: $bp-small) {
        max-width: 250px;
        margin: 0 1px 20px;
        display: inline-block;

        &:last-child {
          margin-right: 0;
        }
      }

      @media (min-width: $bp-middle) {
        margin: 0 25px 0 0;
        max-width: 360px;
      }

      i {
        display: inline-block;
        font-size: 25px;
        vertical-align: middle;
        margin-right: 15px;

        @media (min-width: $bp-small) {
          font-size: 36px;
        }
      }

      .title {
        font-size: 20px;
        font-family: $open-sans-bold;
        background: #155597;
        @include box-shadow(0px 6px 19px -4px rgba(0, 0, 0, 0.34));
        padding: 15px;
        position: relative;
        color: #fff;
        display: block;
        text-decoration: none;

        @media (min-width: $bp-small) {
          font-size: 23px;
          padding: 13px;
        }

        @media (min-width: $bp-middle) {
          font-size: 28px;
          padding: 30px;
        }

        &:hover {
          color: #cdd6e3;
        }
      }

      .item-body {
        background: #215b96;
        color: #fff;
        padding: 15px 20px;
        font-size: 14px;

        @media (min-width: $bp-small) {
          font-size: 14px;
          padding: 22px 12px;
        }

        @media (min-width: $bp-middle) {
          font-size: 16px;
          padding: 30px 20px;
        }

        h4 {
          margin: 0 0 20px;
          font-size: 20px;
          font-family: $Impact;

          @media (min-width: $bp-small) {
            font-size: 22px;
          }

          @media (min-width: $bp-middle) {
            font-size: 24px;
            margin: 0 0 30px;
          }
        }

        ul {
          padding: 0;
          margin: 0;
          list-style: none;

          li {
            margin: 0 0 10px;

            span {
              display: inline-block;
              font-family: $open-sans-bold;
              width: 100px;

              @media (min-width: $bp-small) {
                display: block;
              }

              @media (min-width: $bp-middle) {
                display: inline-block;
                width: 100px;
              }
            }
          }
        }
      }

      .text {
        text-align: center;
        padding: 16px;
        font-size: 14px;
        background: #f1faff;

        @media (min-width: $bp-small) {
          padding: 20px;
        }

        @media (min-width: $bp-middle) {
          padding: 30px;
          font-size: 16px;
        }
      }
    }
  }

  .section-links {
    background: #f2f7fd;
    font-size: 16px;
    padding: 30px 10px;

    @media (min-width: $bp-small) {
      padding: 50px 10px;
      font-size: 22px;
    }

    @media (min-width: $bp-middle) {
      padding: 90px 0;
      font-size: 24px;
    }

    a {
      text-decoration: none;
      color: #666666;

      &:hover {
        color: #40b5e6;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin: 0 0 7px;

        @media (min-width: $bp-small) {
          margin: 0 0 15px;
        }

        a i {
          display: inline-block;
          margin-right: 10px;
        }
      }
    }

    h3 {
      color: #10477f;
      font-size: 26px;
      font-family: $open-sans-bold;
      text-transform: uppercase;
      margin: 0 0 15px;

      @media (min-width: $bp-small) {
        font-size: 36px;
        margin: 0 0 60px;
      }
    }

    .left-part, .right-part {
      margin-bottom: 25px;

      @media (min-width: $bp-small) {
        width: 50%;
        float: left;
        margin-bottom: 0;
      }
    }

    .article {
      @include clearfix();
      margin-bottom: 20px;
      display: block;

      @media (min-width: $bp-small) {
        margin-bottom: 35px;
      }

      .img {
        float: left;
        margin-right: 15px;
        width: 70px;

        @media (min-width: $bp-small) {
          width: auto;
          margin-right: 24px;
        }

        img {
          max-width: 100%;
        }
      }

      .text {
        overflow: hidden;

        h4 {
          margin: 0px 0 6px;
        }

        .date {
          font-size: 18px;
        }
      }
    }
  }

  .section-desc {
    padding: 30px 10px;
    background: image-url('bg/bg-bot.jpg') no-repeat center;
    @include background-size(cover);
    text-align: center;
    font-size: 16px;
    color: #fff;

    @media (min-width: $bp-small) {
      padding: 80px 15px;
      font-size: 22px;
    }

    @media (min-width: $bp-middle) {
      padding: 135px 0;
      font-size: 24px;
    }

    h2 {
      font-size: 28px;
      font-family: $open-sans-bold;
      margin: 0 0 15px;

      @media (min-width: $bp-small) {
        font-size: 38px;
        margin: 0 0 30px;
      }

      @media (min-width: $bp-middle) {
        font-size: 48px;
      }
    }
  }

  .section-location {
    padding: 20px 10px 0;

    @media (min-width: $bp-small) {
      padding: 50px 15px 0;
    }

    @media (min-width: $bp-middle) {
      padding: 70px 0 0;
    }

    .map {
      display: block;
      vertical-align: top;

      @media (min-width: $bp-small) {
        width: 46%;
        display: inline-block;
      }

      iframe {
        width: 100%;
        height: 200px;

        @media (min-width: $bp-small) {

          height: 400px;
        }

        @media (min-width: $bp-middle) {
          width: 745px;
        }
      }
    }

    .items {
      padding: 20px 0 70px;
      text-align: center;

      @media (min-width: $bp-small) {
        padding: 40px 0 95px;
      }

      @media (min-width: $bp-middle) {
        text-align: left;
      }

      .contact-item {
        vertical-align: top;
        max-width: 325px;
        font-size: 16px;
        margin: 0 auto 20px;

        @media (min-width: $bp-small) {
          display: inline-block;
          max-width: 225px;
          margin: 0 15px 0 0;

          &:last-child {
            margin-right: 0;
          }
        }

        @media (min-width: $bp-middle) {
          max-width: 325px;
          font-size: 18px;
          margin: 0 75px 0 0;

        }

        a {
          color: #666666;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }

        p {
          margin: 0 0 10px;
        }

        .img {
          vertical-align: middle;

          @media (min-width: $bp-small) {
            margin-right: 20px;
            display: inline-block;
          }
        }

        .info {
          display: inline-block;
          vertical-align: middle;
          width: 220px;
        }
      }
    }

    .item {
      max-width: 360px;
      vertical-align: top;
      width: 100%;
      display: block;
      margin: 0 auto 30px;

      @media (min-width: $bp-small) {
        margin: 0 25px 0 0;
        display: inline-block;
      }

      i {
        display: inline-block;
        font-size: 36px;
        vertical-align: middle;
        margin-right: 15px;

        @media (min-width: $bp-small) {
          font-size: 36px;
        }
      }

      &:last-child {
        margin-right: 0;
      }

      .title {
        font-size: 18px;
        font-family: $open-sans-bold;
        background: #155597;
        @include box-shadow(0px 6px 19px -4px rgba(0, 0, 0, 0.34));
        padding: 16px 20px;
        position: relative;
        color: #fff;
        display: block;
        text-decoration: none;

        @media (min-width: $bp-small) {
          font-size: 24px;
          padding: 30px;
        }

        &:hover {
          color: #cdd6e3;
        }
      }

      .item-body {
        background: #215b96;
        color: #fff;
        padding: 20px 15px;
        font-size: 16px;

        @media (min-width: $bp-small) {
          padding: 30px 20px;
        }

        h4 {
          margin: 0 0 15px;
          font-size: 20px;
          font-family: $Impact;

          @media (min-width: $bp-small) {
            margin: 0 0 30px;
            font-size: 24px;
          }
        }

        ul {
          padding: 0;
          margin: 0;
          list-style: none;
          font-size: 14px;

          @media (min-width: $bp-small) {
            font-size: 16px;
          }

          li {
            margin: 0 0 10px;

            span {
              display: inline-block;
              font-family: $open-sans-bold;
              width: 85px;

              @media (min-width: $bp-small) {
                width: 100px;
              }
            }
          }
        }
      }
    }
  }

  .section-faq {
    font-size: 15px;
    padding: 30px 15px 20px;

    @media (min-width: $bp-small) {
      font-size: 18px;
      padding: 50px 15px 45px;
    }

    @media (min-width: $bp-middle) {
      padding: 70px 0 60px;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin-bottom: 7px;

        @media (min-width: $bp-small) {
          margin-bottom: 20px;
        }

        &.active {

          a {
            color: #fff;
            background: #155597;
          }

          .text {
            display: block;
          }

          a:hover {
            color: #fff;
            background: #1d75d0;
          }

        }

        a {
          position: relative;
          font-size: 18px;
          color: #399bda;
          text-decoration: none;
          padding: 5px 20px 5px 55px;
          display: block;

          @media (min-width: $bp-small) {
            font-size: 24px;
          }

          &:hover {
            color: #155597;
            background: #f5f5f5;
          }

          &:before {
            @include pseudo-block($top: 50%, $left: 20px);
            content: '\f0fe';
            font-family: FontAwesome;
            @include translateY(-50%);

          }
        }

        .text {
          padding: 15px 20px;
          display: none;
        }
      }
    }
  }
}