.header-wrapper {
  position: relative;

  .header-top {
    position: relative;
    padding: 19px 0px;

    .logo {
      display: inline-block;
      vertical-align: middle;
      margin-right: 150px;
    }

    .tel {
      display: inline-block;
      min-width: 245px;
      background: #f2f7fd;
      font-size: 24px;
      padding: 8px 26px;
      color: #244363;
      text-decoration: none;
      text-align: center;
      vertical-align: middle;
      margin-right: 35px;
      @include transition(all .3s);

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        background: #399bda;
        color: #fff;
      }

      span {
        display: block;
        font-size: 27px;
        font-family: $open-sans-bold;
      }
    }

  }

  .header-bottom {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.75);
    font-size: 22px;
    z-index: 1;

    .nav > ul {
      margin: 0;
      padding: 0;
      @include clearfix();

      & > li {
        display: inline-block;
        position: relative;
        float: left;
        width: 14.2%;
        text-align: center;

        &:hover > a {
          background: #fff;
        }

        a {
          display: block;
          color: #244363;
          font-family: $open-sans-semibold;
          text-decoration: none;
          padding: 32px 15px;
        }

        &:hover ul {
          opacity: 1;
          visibility: visible;
        }

        ul {
          margin: 0;
          padding: 0;
          position: absolute;
          top: 100%;
          left: 0;
          background: #fff;
          list-style: none;
          opacity: 0;
          visibility: hidden;
          @include transition(all .3s);

          a {
            font-family: $open-sans-light;
            white-space: nowrap;
            padding: 15px 50px 15px 30px;
            text-align: left;

            &:hover {
              background: #f2f7fd;
            }
          }
        }
      }
    }
  }
}