.header-wrapper {
  position: relative;

  .header-top {
    position: relative;
    padding: 19px 0px;
    text-align: center;

    @media (min-width: $bp-small) {
      text-align: left;
    }

    .logo {
      display: block;
      vertical-align: middle;
      margin: 0 auto;
      width: 100px;

      @media (min-width: $bp-small) {
        margin: 0 150px 0 0;
        width: auto;
        display: inline-block;
      }

      img {
        max-width: 100%;
      }
    }

    .tel {
      display: inline-block;
      min-width: 245px;
      background: #f2f7fd;
      font-size: 18px;
      padding: 8px 26px;
      color: #244363;
      text-decoration: none;
      text-align: center;
      vertical-align: middle;
      margin-bottom: 10px;
      @include transition(all .3s);

      @media (min-width: $bp-small) {
        font-family: 24;
        margin-right: 22px;
        margin-bottom: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        background: #399bda;
        color: #fff;
      }

      span {
        display: block;
        font-size: 21px;
        font-family: $open-sans-bold;

        @media (min-width: $bp-small) {
          font-size: 27px;
        }

        i {
          display: inline-block;
          margin-right: 5px;
        }
      }
    }

  }

  .header-bottom {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.75);
    font-size: 22px;
    z-index: 1;

    body:not(.front) & {
      background: image-url('bg/header-nav.jpg') center;
      @include background-size(cover);
      position: relative;
      top: auto;

      nav > ul > li {

        & > a {
          color: #fff;
        }

        &:hover a {
          color: #244363;
        }
      }
    }

    .dl-menuwrapper {

      @media (min-width: 768px) {

        .dl-trigger {
          display: none;
        }

        & > ul {
          margin: 0;
          padding: 0;
          @include clearfix();

          & > li {
            display: inline-block;
            position: relative;
            float: left;
            width: 14.2%;
            text-align: center;

            &:hover > a {
              background: #fff;
            }

            a {
              display: block;
              color: #244363;
              font-family: $open-sans-semibold;
              text-decoration: none;
              padding: 32px 15px;
              @include transition(all .3s);
            }

            &:hover ul {
              opacity: 1;
              visibility: visible;
            }

            ul {
              margin: 0;
              padding: 0;
              position: absolute;
              top: 100%;
              left: 0;
              background: #fff;
              list-style: none;
              opacity: 0;
              visibility: hidden;
              @include transition(all .3s);

              a {
                font-family: $open-sans-light;
                white-space: nowrap;
                padding: 15px 50px 15px 30px;
                text-align: left;

                &:hover {
                  background: #f2f7fd;
                }
              }
            }
          }
        }
      }
    }
  }
}

.b-breadcrumbs {
  background: #f5f5f5;
  font-size: 24px;
  padding: 23px 0;

  ul {
    margin: 0;
    padding: 0;
    color: #aeaeae;

    li {
      display: inline-block;
      margin-right: 12px;
    }
  }

  a {
    color: #399bda;
    text-decoration: none;
  }
}