$icons: sprite-map('icons/*.png', $spacing: 8px, $layout: 'smart');
//$h-sprites: sprite-map('h-sprites/*.png',$layout: 'vertical', $spacing: 8px);
//$v-sprites: sprite-map('v-sprites/*.png', $layout: 'horizontal', $spacing: 8px);

$experimental-support-for-svg: true;
$experimental-support-for-opera: false;

//width
$bp-small: 768px;
$bp-middle: 1142px;
//fonts

$open-sans-semibold: 'open-sans-semibold';
$open-sans-bold: 'open-sans-bold';
$open-sans-regular: 'open-sans-regular';
$open-sans-light: 'open-sans-light';
$Impact: 'Impact';

@media (min-width: $bp-small) {

}

@media (min-width: $bp-middle) {

}